.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border: solid 1px;
  border-radius: 10px;
  background-color: darkgrey;
  gap: 12px;
}

.survey-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
